* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
.container {
  max-width: 1500px;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 15px;
  transform-style: preserve-3d;
  position: relative;
  outline: 4px solid black;
  border-radius: 2%;
  width: 175px;
  height: 270px;
  transition: 0.6s ease-in;
}
.card:hover {
  transform: rotateY(180deg);
}
.card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.card__bckg_pic {
  width: 175px;
  height: 270px;
}
.card__info_title {
  font-size: 30px;
  line-height: 40px;
  margin: 10px;
}
.card__info_center,
.card__info_pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  object-fit: cover;
}
.card__info_pic {
  width: 100px;
}
.red {
  color: red;
}
